# Название приложения
APP_NAME='battleship'
# Протокол приложения
APP_PROTOCOL='http'
# Хост приложения
APP_HOST='localhost'
# Порт приложения
APP_PORT='8000'
# Уровень логирования
LOG_LEVEL='info'
# Ключ безопасности для создания подписей
SECRET_KEY='battleship'
# Режим отладки
DEBUG='True'
# Часовой пояс
TZ='Asia/Vladivostok'