{% extends "users/base.html" %}

{% block title %}
  Log in
{% endblock %}

{% block auth_content %}
  <div class="block__header">Log in</div>

  <div class="block__main">
    {% if form.errors %}
      <div class="message message_error">Wrong username or password.</div>
    {% endif %}

    <form method="post" class="auth__form">
      {% csrf_token %}

      <div class="form__group">
        <label for="{{ form.username.id_for_label }}">Username</label>

        {{ form.username }}
      </div>

      <div class="form__group">
        <label for="{{ form.password.id_for_label }}">Password</label>

        {{ form.password }}
      </div>

      <input type="hidden" name="next" value="{{ next }}" />

      <button type="submit" class="button">Log in</button>
    </form>

    <div class="auth__links">
      <a href="{% url 'password_reset' %}">Forgot password?</a>
      <a href="{% url 'register' %}">Create account</a>
    </div>
  </div>
{% endblock %}
