{% extends "users/base.html" %}

{% block auth_content %}
  <div class="block__header">Смена пароля</div>

  <div class="block__main">
    <form method="post" class="auth__form">
      {% csrf_token %}

      {% for field in form %}
        <div class="form__group">
          {{ field.label_tag }}
          {{ field }}

          {% if field.errors %}
            <div class="form__error">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="button">Сохранить</button>
    </form>
  </div>
{% endblock %}
