{% extends "users/base.html" %}

{% block auth_content %}
  <div class="block__header">Reset password</div>

  <div class="block__main">
    <form method="post" class="auth__form">
      {% csrf_token %}

      {% if form.email.errors %}
        <div class="form__error">{{ form.email.errors }}</div>
      {% endif %}

      <div class="form__group">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>

      <button type="submit" class="button">Reset password</button>
    </form>
  </div>
{% endblock %}
