{% extends "users/base.html" %}

{% block title %}
  Регистрация
{% endblock %}

{% block auth_content %}
  <div class="block__header">Регистрация</div>

  <div class="block__main">
    <form method="post" class="auth__form">
      {% csrf_token %}

      {% for field in form %}
        <div class="form__group">
          {{ field.label_tag }}

          {{ field }}

          {% if field.help_text %}
            <small> {{ field.help_text }} </small>
          {% endif %}

          {% if field.errors %}
            <div class="form__error">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="button">Зарегистрироваться</button>
    </form>

    <div class="auth__links">
      <a href="{% url 'login' %}"> Уже есть аккаунт? </a>
    </div>
  </div>
{% endblock %}
