{% extends "game/base.html" %}

{% block title %}
  Leaderboard
{% endblock %}

{% block content %}
  <div class="block">
    <div class="block__header">Leaderboard</div>

    <div class="block__main">
      <p class="muted">Players with at least 10 games finished.</p>

      <div class="table-wrap">
        <table class="table">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Player</th>
              <th>Games</th>
              <th>Wins</th>
              <th>Win rate</th>
            </tr>
          </thead>
          <tbody>
            {% for player in players %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                  {% if player.avatar %}
                    <img class="avatar avatar_small" src="{{ player.avatar.url }}" alt="avatar" />
                  {% endif %}
                  {{ player.username }}
                </td>
                <td>{{ player.ngames }}</td>
                <td>{{ player.nwins }}</td>
                <td>{{ player.winrate }}%</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5">None</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
